body{
margin:0;
font-family:Poppins;
color:#444;
scroll-behavior:smooth;
}

/* HERO */

.hero{
height:100vh;
background:url("images/bg.jpg") center/cover no-repeat;
position:relative;
display:flex;
justify-content:center;
align-items:center;
text-align:center;
color:white;
}

.overlay{
position:absolute;
top:0;
left:0;
width:100%;
height:100%;
background:rgba(255,182,193,0.35);
}

.hero-content{
position:relative;
z-index:2;
animation:fadeUp 2s ease;
}

.hero h1{
font-family:'Great Vibes';
font-size:70px;
margin:0;
}

.and{
font-size:30px;
margin:10px 0;
}

.tagline{
font-family:'Playfair Display';
font-size:20px;
margin-top:20px;
}

#countdown{
margin-top:30px;
font-size:28px;
font-weight:600;
}

/* DETAILS */

.details{
padding:80px 20px;
text-align:center;
background:#fff0f5;
}

.details h2{
font-family:'Playfair Display';
font-size:35px;
margin-bottom:30px;
}

.info-box{
background:white;
display:inline-block;
padding:30px 50px;
border-radius:20px;
box-shadow:0 10px 30px rgba(0,0,0,0.08);
}

.map-btn{
display:inline-block;
margin-top:30px;
padding:12px 25px;
border-radius:30px;
background:#ff9ecb;
color:white;
text-decoration:none;
transition:0.3s;
}

.map-btn:hover{
transform:scale(1.08);
}

/* MESSAGE */

.message{
padding:80px 20px;
text-align:center;
background:white;
}

.message h2{
font-family:'Playfair Display';
font-size:35px;
margin-bottom:20px;
}

.message p{
max-width:600px;
margin:auto;
font-size:18px;
line-height:1.8;
}

/* PAYMENT */

.payment{
padding:80px 20px;
text-align:center;
background:#fff0f5;
}

.payment h2{
font-family:'Playfair Display';
margin-bottom:30px;
}

.btn{
display:inline-block;
margin:10px;
padding:15px 30px;
border-radius:40px;
background:#ff6fa5;
color:white;
text-decoration:none;
font-size:18px;
transition:0.3s;
}

.btn:hover{
transform:scale(1.1);
}

.secondary{
background:#b76eff;
}

/* Music */

.music-btn{
position:fixed;
top:20px;
right:20px;
background:white;
border:none;
font-size:24px;
padding:10px;
border-radius:50%;
cursor:pointer;
box-shadow:0 5px 15px rgba(0,0,0,0.1);
}

/* Animation */

@keyframes fadeUp{
from{
opacity:0;
transform:translateY(40px);
}
to{
opacity:1;
transform:translateY(0);
}
}