body {

margin: 0;
font-family: Arial, sans-serif;
background: black;
color: white;

}

.hero {

height: 100vh;

background: url("images/bg.jpg");

background-size: cover;

background-position: center;

display: flex;

justify-content: center;

align-items: center;

text-align: center;

}

.overlay {

background: rgba(0,0,0,0.6);

padding: 20px;

border-radius: 10px;

}

.title {

font-size: 40px;

}

.names {

font-size: 22px;

}

.date {

margin-top: 10px;

font-size: 18px;

}

.countdown {

margin-top: 20px;

font-size: 20px;

color: gold;

}

.btn {

margin-top: 20px;

padding: 15px;

border: none;

border-radius: 10px;

background: gold;

color: black;

font-size: 16px;

}

.support {

padding: 30px;

text-align: center;

}

.momo-box {

margin-top: 20px;

padding: 20px;

background: #111;

border-radius: 10px;

}