body {

margin:0;
font-family: Arial;
background:black;
color:white;
text-align:center;

}


.opening {

height:100vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;

}


button {

padding:15px;
margin-top:20px;
font-size:18px;
border-radius:10px;
border:none;
background:gold;

}


.hidden {

display:none;

}


.hero {

height:100vh;
display:flex;
flex-direction:column;
justify-content:center;

background:url("images/bg.jpg");

background-size:cover;

}


.support {

padding:30px;

}


.momo {

background:#111;
padding:20px;
margin-top:20px;
border-radius:10px;

}