body{
margin:0;
font-family:Arial;
text-align:center;
background:black;
color:white;
}

.hero{
height:100vh;
display:flex;
flex-direction:column;
justify-content:center;
}

button{
padding:15px;
margin:10px;
font-size:16px;
border:none;
border-radius:10px;
}