body {

margin:0;
font-family:Arial;
background:black;
color:white;
text-align:center;

}


.opening {

height:100vh;

display:flex;

flex-direction:column;

justify-content:center;

align-items:center;

background:black;

}


.hero {

height:100vh;

display:flex;

flex-direction:column;

justify-content:center;

align-items:center;

background:black;

}


.support {

padding:30px;

}


.momo {

background:#111;

padding:20px;

margin-top:20px;

border-radius:10px;

}


button {

padding:15px;

margin-top:10px;

font-size:16px;

border:none;

border-radius:10px;

background:gold;

color:black;

cursor:pointer;

}