body {

margin:0;
font-family:'Poppins',sans-serif;
color:white;
background:black;
text-align:center;

}


.hero {

height:100vh;

background:url("images/bg.avif");

background-size:cover;

background-position:center;

display:flex;

justify-content:center;

align-items:center;

}


.hero-content {

background:rgba(0,0,0,0.5);

padding:30px;

border-radius:10px;

}


h1 {

font-family:'Playfair Display',serif;
font-size:40px;

}


.names {

font-size:20px;

}


.date {

margin-top:10px;

}


#countdown {

margin-top:15px;

color:gold;

font-size:18px;

}


.section {

padding:50px 20px;

}


.dark {

background:#111;

}


.gallery {

display:flex;

flex-direction:column;

gap:15px;

}


.gallery img {

width:100%;

border-radius:10px;

}


.momo {

margin-top:20px;

}


button {

padding:12px 20px;

border:none;

border-radius:8px;

background:gold;

color:black;

font-size:16px;

cursor:pointer;

}


footer {

padding:20px;

background:black;

color:gray;

}
html {
scroll-behavior: smooth;
}

.section h2 {
font-family:'Playfair Display', serif;
margin-bottom:20px;
}